[submodule ".external/rest-framework"]
	path = .external/rest-framework
	url = https://github.com/OCA/rest-framework.git
	branch = 16.0
[submodule ".external/vuestorefront-theaterpedia"]
	path = .external/vuestorefron-theaterpedia
	url = https://github.com/crearis/vuestorefront-theaterpedia.git
	branch = theaterpedia/16.0
[submodule ".external/vuestorefront-extra"]
	path = .external/vuestorefron-extra
	url = https://github.com/crearis/vuestorefront-extra.git
	branch = 16.0
[submodule ".external/event"]
	path = .external/event
	url = https://github.com/crearis/event-theaterpedia.git
